@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');

* {
    /* set variation axis values */
    --mono: "MONO" 0;

    /* Monospace: Sans (natural-width) or Mono (fixed-width) */
    --casl: "CASL" 0;

    /* Casual: Linear to Casual */
    --wght: "wght" 800;

    /* Weight: Light to ExtraBlack; usually set with `font-weight` */
    --slnt: "slnt" 0;

    /* Slant: 0 to -15 degrees, auto cursive at -14 */
    --CRSV: "CRSV" 0.5;

    /* Cursive: always roman, auto substitution, or always cursive */

    /* apply axis values with CSS custom properties */
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
    font-family: 'Recursive', monospace;
}